.contact-section {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #454545;
  }
  
  .contact-info {
    max-width: 40%;
  }
  
  .contact-info h3 {
    color: white;
  }
  .contact-info p {
    color: white;
    font-size: 14px;
  }
  
  .contact-form {
    background-color: white;
    width: 800px;
    max-width: 100%;
    border-radius: 10px;
    padding: 20px;
  }
  .contact-form h3{
    color: black;
  }
  .contact-form label{
    color: black;
  }
  .form-field label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  .form-group {
    display: flex;
    flex-direction: column;
  }
  .form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .form-field {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .contact-form input, .contact-form textarea {
    display: flex;  
    justify-content: space-around;
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }

  .contact-form textarea {
    height: 120px;
    resize: none;
    width: 95%;

  }
  
  .contact-form button {
    background-color: #454545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    width: 149px;
    height: 55px;
  }
  

.contact-form button:hover {
  background-color: #57E0FE;
}