body{
    background-color: #454545;
}
.project-details-container {
    padding: 50px;
    text-align: center;

    color: #46c2e6;
  }
  
  h2 {
    font-size: 2rem;
    color: #46c2e6;
    display: flex;
    margin-bottom: 5rem;
    margin-left: 7rem;
  }
  
  .project-details-card {
    display: flex;
    justify-content: space-around;

    align-items: center;
    padding: 20px;
    background-color:  #454545;;
    margin: 0 auto;
    border: 2px solid #57E0FE;
    border-radius: 1rem;
    max-width: 84%;
    height: 700px;

  }
  
  .project-logo img {
    width: 355px;
    height: 355px;
    border-radius: 50%;
  }
  
  .project-info {
    margin-left: 30px;
    text-align: left;
  }
  
  .info-item {
    margin-bottom: 20px;
  }
  
  .info-item span {
    font-size: 1.2rem;
    margin-right: 10px;
    color: #46c2e6;
  }
  
  input[type="text"], input[type="date"] {
    padding: 5px;
    background-color: #454545;
    border: none;
    color: #46c2e6;
    border-radius: 5px;
  }
  
  .slider {
    width: 200px;
    margin-left: 10px;
  }
  
  .eth-value {
    margin-left: 10px;
    font-weight: bold;
    color: #46c2e6;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .proposal-btn {
    background-color: #454545;
    color: #46c2e6;
    border: 2px solid #57E0FE;
    border-radius: 1rem;
    padding: 1rem;  
    width: 15cm;
    margin: 0px;
    text-align: center;
    margin-bottom: 2rem;
    list-style: none;
   
}
  
  .donate-btn {
    background-color: #454545;
    border: 2px solid #57E0FE;
    border-radius: 1rem;
    color: #46c2e6;
    width: 15rem;
  }
  
  .cancel-btn {
    background-color: #454545;
    border: 2px solid #b64c49;
    border-radius: 1rem;
    margin: 0px !important;
    color: #b64c49;
    width: 15rem;

  }
  input:disabled::placeholder {
    color: #46c2e6; 
  }

  .slider{
    color: #46c2e6;

  }


  a.btn.proposal-btn {
    display: inline-block; 
    width: 500px;
    padding: 10px 20px; 
    background-color: #454545;
    color: #46c2e6; 
    text-decoration: none; 
    text-align: center; 
    border-radius: 20px; 
    font-size: 16px; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }