.projects-section {
    text-align: center;
    padding: 50px;
    border: 2px solid #57E0FE;
    border-radius: 1rem;
    max-width: 78%;
    margin-left: 7.5rem;
    margin-top: 6rem;

  }
  
  .projects-section h2{
    display: flex;
    justify-content: start;
    color: #57E0FE;
    letter-spacing: 0.2rem;

  }
  .projects-section p{
    display: flex;
    justify-content: start;
    color: #57E0FE;
    letter-spacing: 0.2rem;

  }

  .projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 5rem;

  }
  
  .project-card {
    position: relative;
    background-color: #444;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    margin: 20px;
  }
  
  .project-card img {
    width: 320px;
    height: 320px;
    border-radius: 40px;
  
  }

  
  .project-card button {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: #57E0FE;;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 2px solid #57E0FE;
    border-radius: 2cm;
  }

  .project-card button:hover {
    background-color: #00b3ff;
    color: #fff;
  }
  